@{
    ViewData["Title"] = "About";
}
<div>
<h1>About Blogs by Mozzy83</h1>
</div>

<div>
    <p>
        Welcome. This Blog website was built as a learning project through a programming bootcamp called <a href="https://learn.coderfoundry.com/" class="cfLink" target="_blank">Coder Foundry</a>.
    </p>
    <p>
        Blogs by Mozzy83 utilizes the ASP.Net framework and includes C#, JavaScript, HTML, and CSS plus some other cool features like FontAwesome Fonts, Summernote text editors, and SweetAlert alerts!
    </p>
    <P>
        You will also find a PostgreSQL backend and things like a custom Microsoft Identity User class featured. Check out the GitHub repo <a href="https://github.com/mozzy83/TheBlogProject.git" target="_blank" style="font-weight:bold">HERE!</a>
    </P>
    <p>
        Feel free to look around and see some of these features in action! You can check out my blog posts as a guest or create your own user account so you can add comments if you'd like.
    </p>
    <p>
        For more information, or to get in touch with me, please visit my portfolio site <a href="https://mozzy83.netlify.app/" target="_blank" class="m83Link">HERE</a> where you can also see some more of my projects.
    </p>
    <p>
        Thank you for visiting!
    </p>
</div>

