@using TheBlogProject.Enums

@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<h1>Create Post</h1>

<h4>Blog: @ViewBag.BlogName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="BlogId" value="@ViewBag.BlogId" />

@*            <div class="form-group">
                <label asp-for="BlogId" class="control-label"></label>
                <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
            </div>*@            
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col pb-2 pt-4">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="TagEntry" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="row pt-3">
                                <div class="col d-grid px-3">
                                    <button onclick="AddTag()" name="Add" type="button" class="btn btn-dark btn-sm rounded">Add</button>
                                </div>
                                <div class="col d-grid px-3">
                                    <button onclick="DeleteTag()" name="Delete" type="button" class="btn btn-dark btn-sm rounded">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <select class="form-select" name="TagValues" id="TagList" multiple></select>
                    </div>
                </div>
            </div>

            <div class="form-group pt-3">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" asp-items="@Html.GetEnumSelectList<ReadyStatus>()" class="form-control"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-3 d-grid">
                <button type="submit" class="btn btn-dark btn-sm rounded">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    <script>

        let tagValues = '@ViewData["TagValues"]';
        //Default font size but not for placeholder...
        $('#Content').summernote({
            placeholder: "Post Body"
        });
    </script>
    <script src="~/js/custom.js"></script>



}
